.itembox {
  background: #fcfcf4;
  margin: 40px;
  padding: 2px;
  width:150px;
  height:300px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #98b298;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.itemboxempty {
  background: #fcfcf4;
  margin: 40px;
  padding: 2px;
  width:150px;
  height:300px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #98b298;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.itembox:hover {
  -webkit-box-shadow: 0 10px 20px #98b298;
  -moz-box-shadow: 0 10px 20px #98b298;
  box-shadow: 0 10px 20px #98b298;
}
@import url(https://fonts.googleapis.com/css?family=VT323);
